<div class="h-dvh p-4">
  <div class="min-h-[500px] overflow-auto grid grid-cols-1 grid-rows-3 gap-4 h-full sm:grid-cols-3 sm:grid-rows-3 lg:grid-cols-3 lg:grid-rows-2">
    <div
      class="@container bg-white rounded-xl p-4 drop-shadow-md row-span-1 sm:col-span-2 sm:row-span-1 lg:col-span-1 lg:row-span-1">
      <form [formGroup]="DataForm" class="@min-[130px]:overflow-auto h-full">
        <div class="flex flex-row lg:flex-col gap-4 h-full items-stretch">
          <fieldset class="flex-1">
            <legend class="text-xl font-bold text-center">{{ formGroups[currentGroup].title }}</legend>
            <div class="mt-5 flex flex-col">
              <div class="@container">
                <label [for]="currentField.key" class="block font-medium text-gray-900">{{ currentField.label }}</label>
                <small class="hidden lg:@xs:block text-sm text-gray-600 text-pretty">{{ currentField.small }}</small>
                @switch (currentField.type) {
                @case ('text'){
                <input type="text" [formControl]="getFormControl(currentField.key)" [id]="currentField.key"
                  [placeholder]="currentField.placeholder"
                  class="mt-3 block w-full max-w-xs rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-sky-600 sm:text-sm/6" />
                }
                @case('email'){
                <input type="email" [formControl]="getFormControl(currentField.key)" [id]="currentField.key"
                  class="mt-3 block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-sky-600 sm:text-sm/6" />
                }
                @case('date'){
                <input type="date" [formControl]="getFormControl(currentField.key)" [id]="currentField.key"
                  class="mt-3 block w-[180px] rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-sky-600 sm:text-sm/6" />
                @if (currentField.key === 'fechaInicioEvento') {
                <label class="inline-flex items-center cursor-pointer mt-2">
                  <input type="checkbox" value="" class="sr-only peer" [formControl]="getFormControl('mismoDia')" />
                  <div
                    class="relative w-9 h-5 bg-gray-200 peer-focus:outline-none rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-4 after:w-4 after:transition-all dark:border-gray-600 peer-checked:bg-sky-600 dark:peer-checked:bg-sky-600">
                  </div>
                  <span class="ms-3 text-sm font-medium text-gray-900 dark:text-gray-300">Evento de un solo día</span>
                </label>
                }
                }
                @case ('time') {
                <input type="time" [formControl]="getFormControl(currentField.key)" [id]="currentField.key"
                  class="mt-3 block w-[180px] rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-sky-600 sm:text-sm/6" />
                }
                @case('select'){
                <div class="mt-3 grid grid-cols-1">
                  <select [id]="currentField.key" [formControl]="getFormControl(currentField.key)"
                    class="col-start-1 row-start-1 w-full appearance-none rounded-md bg-white py-1.5 pr-8 pl-3 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6">
                    <option selected disabled value="">Seleccionar</option>
                    @for (option of currentField.options; track option) {
                    <option [value]="option">{{option}}</option>
                    }
                  </select>
                  <svg
                    class="pointer-events-none col-start-1 row-start-1 mr-2 size-5 self-center justify-self-end text-gray-500 sm:size-4"
                    viewBox="0 0 16 16" fill="currentColor" aria-hidden="true" data-slot="icon">
                    <path fill-rule="evenodd"
                      d="M4.22 6.22a.75.75 0 0 1 1.06 0L8 8.94l2.72-2.72a.75.75 0 1 1 1.06 1.06l-3.25 3.25a.75.75 0 0 1-1.06 0L4.22 7.28a.75.75 0 0 1 0-1.06Z"
                      clip-rule="evenodd" />
                  </svg>
                </div>
                }
                @default {

                }
                }
              </div>
            </div>
          </fieldset>
          <div class="shrink-0 self-end flex flex-col md:flex-row items-center justify-end gap-x-6 gap-y-2">
            <button type="button" (click)="prevStep()" [disabled]="currentGroup === 0 && currentFieldIndex === 0"
              class="cursor-pointer px-3 py-2 text-sm/6 font-semibold text-gray-900">
              Anterior
            </button>
            @if (currentGroup < formGroups.length - 1 || currentFieldIndex < formGroups[currentGroup].fields.length - 1)
            { 
              <button type="submit" (click)="nextStep()" [disabled]="!isValidCurrentField()"
                class="cursor-pointer disabled:opacity-50 bg-sky-700 rounded-md px-3 py-2 text-sm font-semibold text-white shadow-xs">
                Siguiente
              </button>
            }
            @if (currentGroup === formGroups.length - 1 && currentFieldIndex === formGroups[currentGroup].fields.length - 1) 
            {
              <button type="submit" (click)="generateInvoice()" [disabled]="!isValidCurrentField()"
                class="cursor-pointer disabled:opacity-50 bg-sky-800 rounded-md px-3 py-2 text-sm font-semibold text-white shadow-xs">
                Descargar
              </button>
            }
          </div>
        </div>
      </form>
    </div>
    <div
      class="select-none text-pretty overflow-auto py-6 px-8 flex flex-col gap-3 bg-white rounded-xl drop-shadow-md row-span-2 sm:col-span-3 sm:row-span-2 lg:col-span-2 lg:row-span-2">
      <section>
        <h2 class="text-xl font-bold text-center text-balance">
          Contrato de Participación en la Hackathon
          <span [class.bg-yellow-200]="isHighlighted('nombreEvento')" class="bg-transparent px-1 rounded">
            {{ DataForm.getRawValue().nombreEvento || '___' }}
          </span>
        </h2><br>
        <p class="text-end"><time>{{ todaysDate }}</time></p>
      </section>
      <br>
      <section>
        <h3 class="text-lg font-medium">PARTICIPACIÓN EN EL EVENTO</h3>
        <p>
          En este documento, el participante se compromete a su participación en la hackathon titulada
          <span [class.bg-yellow-200]="isHighlighted('nombreEvento')" class="bg-transparent px-1 rounded inline-block">
            {{DataForm.getRawValue().nombreEvento || '___'}}
          </span>, la cual se llevará a cabo en
          <span [class.bg-yellow-200]="isHighlighted('lugarEvento')" class="bg-transparent px-1 rounded inline-block">
            {{DataForm.getRawValue().lugarEvento || '___'}}
          </span> el
          <span [class.bg-yellow-200]="isHighlighted('fechaInicioEvento')"
            class="bg-transparent px-1 rounded inline-block">
            {{ formatDate(DataForm.getRawValue().fechaInicioEvento) || '___'}}
          </span>. El evento será de modalidad
          <span [class.bg-yellow-200]="isHighlighted('modalidadEvento')"
            class="bg-transparent px-1 rounded inline-block">
            {{DataForm.getRawValue().modalidadEvento || '___'}}
          </span>, y está auspiciado por
          <span [class.bg-yellow-200]="isHighlighted('auspiciadoPor')" class="bg-transparent px-1 rounded inline-block">
            {{DataForm.getRawValue().auspiciadoPor || '___'}}
          </span>.
        </p>
      </section>
      <section>
        <h3 class="text-lg font-medium">DATOS DEL PARTICIPANTE</h3>

        El participante que firma este documento, con nombre
        <strong>
          <span [class.bg-yellow-200]="isHighlighted('nombre')" class="bg-transparent px-1 rounded inline-block">
            {{DataForm.getRawValue().nombre || '___'}}
          </span>
        </strong>, portador del documento de identificación
        <strong>
          <span [class.bg-yellow-200]="isHighlighted('documento')" class="bg-transparent px-1 rounded inline-block">
            {{DataForm.getRawValue().documento || '___'}}
          </span> - <span [class.bg-yellow-200]="isHighlighted('numeroDocumento')"
            class="bg-transparent px-1 rounded inline-block">
            {{DataForm.getRawValue().numeroDocumento || '___'}}
          </span>
        </strong>, perteneciente a la universidad
        <span [class.bg-yellow-200]="isHighlighted('universidad')" class="bg-transparent px-1 rounded inline-block">
          {{DataForm.getRawValue().universidad || '___'}}
        </span>, y
        actualmente cursando el ciclo
        <span [class.bg-yellow-200]="isHighlighted('cicloActual')" class="bg-transparent px-1 rounded inline-block">
          {{DataForm.getRawValue().cicloActual || '___'}}
        </span>, declara la veracidad de la información proporcionada en este
        contrato. Además, incluye su correo electrónico:
        <span [class.bg-yellow-200]="isHighlighted('email')" class="bg-transparent px-1 rounded inline-block">
          {{DataForm.getRawValue().email || '___'}}
        </span> y número de teléfono:
        <span [class.bg-yellow-200]="isHighlighted('telefono')" class="bg-transparent px-1 rounded inline-block">
          {{DataForm.getRawValue().telefono || '___'}}
        </span>, así como su nacionalidad:
        <span [class.bg-yellow-200]="isHighlighted('nacionalidad')" class="bg-transparent px-1 rounded inline-block">
          {{DataForm.getRawValue().nacionalidad || '___'}}
        </span>, y su dirección en
        <span [class.bg-yellow-200]="isHighlighted('direccion')" class="bg-transparent px-1 rounded inline-block">
          {{DataForm.getRawValue().direccion || '___'}}
        </span>.
      </section>

      <section>
        <h3 class="text-lg font-medium">DECLARACIONES</h3>
        <p>El participante:</p>
        <ol class="list-decimal pl-5">
          <li>
            Que el participante, identificado como
            <span [class.bg-yellow-200]="isHighlighted('nombre')" class="bg-transparent px-1 rounded inline-block">
              {{DataForm.getRawValue().nombre || '___'}}
            </span>, ha decidido participar voluntariamente
            en la hackathon organizado por
            <span [class.bg-yellow-200]="isHighlighted('auspiciadoPor')"
              class="bg-transparent px-1 rounded inline-block">
              {{DataForm.getRawValue().auspiciadoPor || '___'}}
            </span>.
          </li>
          <li>
            Declara que ha leído y comprendido las reglas de participación del evento y se compromete a cumplir con los
            términos establecidos por los organizadores de
            <span [class.bg-yellow-200]="isHighlighted('nombreEvento')"
              class="bg-transparent px-1 rounded inline-block">
              {{DataForm.getRawValue().nombreEvento || '___'}}
            </span>.
          </li>
          <li>
            Certifica que toda la información proporcionada es veraz, y que el proyecto o trabajo a presentar en el
            evento será de su autoría, sin plagio ni violación de derechos de propiedad intelectual.
          </li>
        </ol>
      </section>

      <section>
        <h3 class="text-lg font-medium">CONDICIONES GENERALES</h3>
        <ol class="list-[upper-roman] pl-5">
          <li>
            <strong>Modalidad y Duración:</strong> El evento se llevará a cabo de forma
            <span [class.bg-yellow-200]="isHighlighted('modalidadEvento')"
              class="bg-transparent px-1 rounded inline-block">
              {{DataForm.getRawValue().modalidadEvento || '___'}}
            </span>, con una duracción total de 
            {{ totalEventDuration }}. Este iniciará el
            <span [class.bg-yellow-200]="isHighlighted('fechaInicioEvento')"
              class="bg-transparent px-1 rounded inline-block">
              {{ formatDate(DataForm.getRawValue().fechaInicioEvento) || '___'}}
            </span> a las horas
            <span [class.bg-yellow-200]="isHighlighted('horaInicioEvento')"
              class="bg-transparent px-1 rounded inline-block">
              {{ formatTime(DataForm.getRawValue().horaInicioEvento) || '___'}}
            </span> y finalizará el
            @if(DataForm.getRawValue().mismoDia){
              mismo dia
            }@else {
              <span [class.bg-yellow-200]="isHighlighted('fechaFinEvento')"
                class="bg-transparent px-1 rounded inline-block">
                {{ formatDate(DataForm.getRawValue().fechaFinEvento) || '___'}}
              </span>
            }
            a las horas
            <span [class.bg-yellow-200]="isHighlighted('horaFinEvento')"
              class="bg-transparent px-1 rounded inline-block">
              {{ formatTime(DataForm.getRawValue().horaFinEvento ) || '___'}}
            </span>, según el horario previamente establecido por los organizadores.
          </li>
          <li>
            <strong>Uso del proyecto:</strong> En caso de ser seleccionado como ganador, el participante concede a los 
            organizadores el derecho de presentar y difundir públicamente su proyecto, con fines académicos y promocionales. 
            Esta cesión de derechos incluye su difusión en cualquier medio, sin derecho a retribución económica 
            ni compensación adicional por su uso.
          </li>
          <li>
            <strong>Descalificación:</strong> Cualquier incumplimiento de las normas establecidas podrá derivar en la
            descalificación inmediata del participante.
          </li>
        </ol>
      </section>

      <section>
        <h3 class="text-lg font-medium">FIRMA Y CONFIRMACIÓN</h3>
        <p>
          Por medio de este contrato, el participante confirma su participación en
          <span [class.bg-yellow-200]="isHighlighted('nombreEvento')" class="bg-transparent px-1 rounded inline-block">
            {{ DataForm.getRawValue().nombreEvento || '___' }}
          </span>, acepta los
          términos y condiciones descritos en el documento y autoriza su participación conforme a lo dispuesto. La firma
          de este documento es necesaria para formalizar su compromiso.
        </p>

        <div class="flex mb-4 mt-16">
          <div class="flex-1 text-right pr-2">Firma del Participante:</div>
          <div class="flex-1 text-left">__________________________</div>
        </div>
        
        <div class="flex mb-4">
          <div class="flex-1 text-right pr-2">Fecha de Firma:</div>
          <div class="flex-1 text-left">___ / ___ / ______</div>
        </div>
        
      </section>
    </div>
  </div>
</div>