@import "tailwindcss";
@layer utilities {
	::-webkit-scrollbar {
			width: 8px; /* Grosor de la barra */
	}

	::-webkit-scrollbar-track {
			background: transparent; /* Fondo del scrollbar */
			margin: 12px;
	}

	::-webkit-scrollbar-thumb {
			background: rgba(100, 100, 100, 0.4); /* Color del "thumb" (la barra) */
			border-radius: 4px;
	}

	::-webkit-scrollbar-thumb:hover {
			background: rgba(100, 100, 100, 0.6); /* Color cuando pasas el mouse */
	}
}